/* caratteristiche preliminari */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ms-debug [class^="col-"] {
  border: 2px solid black;
  background-color: lightgrey;
}
.ms-debug .row {
  border: 2px solid blue;
  background-color: pink;
}

.ms-container {
  width: 100%;
  height: 100vh;
}


/* /caratteristiche preliminari */

/* classi generiche */

.ms-fill {
  width: 100%;
  height: 100%;
}

.ms-hidden-600 {
  display: none;
}

.ms-color-white {
  color: white;
}
.ms-color-lightgrey {
  color: lightgrey;
}
.ms-color-grey {
  color: grey;
}

.ms-bold {
  font-weight: bold;
}

.ms-vertical-margin-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.ms-vertical-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ms-vertical-padding-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ms-button-upgrade {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 12px;
  background-color: transparent;
}
.ms-button-upgrade:hover {
  transform: scale(1.2);
}
.ms-play-button {
  background-color: transparent;
  border: none;
}
/* avendo messo .ms-pseudo questa istruzione è inutile ma la lascio nel caso volessi eliminare .ms-pseudo */
.ms-play-button:nth-child(3):hover {
  transform: scale(1.2);
}

/* .ms-pseudo serve a "ingannare" per far credere che "hoverando" su un elemento apparentemente esterno alla barra del player, si possa animare la stessa */
.ms-pseudo {
  position: absolute;
  bottom: 100%;
  transform: scale(2);
}
#time .ms-pseudo:hover {
  transform: scale(2.5);
  cursor: pointer;
}
#time .ms-pseudo:hover + span + #player-bar-container #player-bar-content .ms-bar-content-circle {
  visibility: visible;
}
/* BONUS: PROVARE A HOVERARE SUL TASTO PLAY DEL FOOTER */
#time .ms-pseudo:hover + span + #player-bar-container #player-bar-content {
  border-color: yellowgreen;
  animation-name: songplay;
  /* 275s sono 4:35 min */
  animation-duration: 275s;
  animation-timing-function: linear;
}
@keyframes songplay {
  100% {width: 100%;}
}
#time span:first-of-type span {
  /* per togliere gli spazietti degli inline block */
  float: left;
}
#time span .ms-minute::before {
  content: '0';
}
#time span .ms-second .ms-decimal::before {
  content: '0';
}
#time span .ms-second .ms-unit::before {
  content: '0';
}
#time .ms-pseudo:hover + span .ms-second .ms-unit::before {
  animation-name: timegoes-unit;
  animation-duration: 10s;
  animation-timing-function: linear;
  /* 275s/10s = 27.5 */
  animation-iteration-count: 27.5;
}
#time .ms-pseudo:hover + span .ms-second .ms-decimal::before {
  animation-name: timegoes-decimal;
  animation-duration: 60s;
  animation-timing-function: linear;
  /* (275s-4.5s)/60s = 4.5083 */
  animation-iteration-count: 4.5083;
  /* non so perchè senza il ritardo non funziona */
  animation-delay: 4.5s;
}
#time .ms-pseudo:hover + span .ms-minute::before {
  animation-name: timegoes-unit;
  animation-duration: 600s;
  animation-timing-function: linear;
  /* (275s-29.5s)/600s = 0.4092 */
  animation-iteration-count: 0.4092;
  /* non so perchè senza il ritardo non funziona */
  animation-delay: 29.5s;
}
@keyframes timegoes-unit {
  0% {content: '0';}
  10% {content: '1';}
  20% {content: '2';}
  30% {content: '3';}
  40% {content: '4';}
  50% {content: '5';}
  60% {content: '6';}
  70% {content: '7';}
  80% {content: '8';}
  90% {content: '9';}
}
@keyframes timegoes-decimal {
  0% {content: '0';}
  16.67% {content: '1';}
  33.33% {content: '2';}
  50% {content: '3';}
  66.67% {content: '4';}
  83.33% {content: '5';}
}

.ms-bar {
  height: 2px;
  border-radius: 2px;
  border: 2px solid;
}
.ms-bar-container {
  border-color: grey;
}
.ms-bar-content {
  position: relative;
  top: -2px;
  left: -2px;
  border-color: white;
}
.ms-bar-content-circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -6px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  visibility: hidden;
}
.ms-bar-container:hover {
  cursor: pointer;
}
.ms-bar-container:hover .ms-bar-content {
  border-color: yellowgreen;
}
.ms-bar-container:hover .ms-bar-content-circle {
  visibility: visible;
}

.ms-album-box {
  padding: 10px 0;
}
.ms-album-box .ms-album-img-container {
  position: relative;
  width: 100%;
}
#popolari .ms-album-box .ms-album-img-container {
  border-radius: 50%;
  overflow: hidden;
}
.ms-album-box .ms-album-img-container img {
  width: 100%;
}
.ms-album-box .ms-album-layover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;
}
.ms-album-box:hover .ms-album-layover {
  visibility: visible;
}
.ms-album-box i {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  visibility: hidden;
}
.ms-album-box:hover i {
  visibility: visible;
}

.ms-plus {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  background-color: lightgray;
}
.ms-plus::after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
  font-weight: bold;
  color: rgb(0 0 0);
}

/* /classi generiche */

/* classi specifiche */

main {
  height: calc(100% - 80px);
}

#left-bar {
  float: left;
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0 0 0);
  overflow: auto;
}
#left-bar a,
footer #footer-left a {
  color: grey;
}
#left-bar a:hover,
footer #footer-left a:hover {
  text-decoration: none;
  color: white;
}
#left-bar-top,
#left-bar-bottom {
  flex-shrink: 0;
  padding: 15px;
}
#left-bar-center {
  min-height: 80px;
  height: 100%;
  padding: 0 15px;
  overflow-y: scroll;
}

#left-bar-top #logo img {
  width: 20px;
}
#left-bar-top #logo span {
  font-size: 20px;
  vertical-align: middle;
}
#left-bar-top ul img,
#left-bar-bottom img {
  width: 20px;
}
#left-bar-top ul img,
#left-bar-bottom > a:first-child img {
  filter: brightness(50%);
}
#left-bar-top ul span {
  vertical-align: middle;
}
/* il seguente selettore mi serve per poter dare il bordo sinistro in linea con la viewport */
#left-bar-top ul a {
  display: block;
  margin-left: -15px;
  padding-left: 15px;
}
#left-bar-top ul li:first-child a {
  border-left: 3px solid yellowgreen;
  padding-left: 12px;
  color: white;
}
#left-bar-top ul li:first-child img,
#left-bar-top ul a:hover img,
#left-bar-bottom > a:first-child:hover img {
  filter: brightness(100%);
}
#left-bar-top #playlist a:hover .ms-plus {
  background-color: white
}

#left-bar-center li {
  margin-top: 5px;
  margin-bottom: 5px;
}
#left-bar-center li:first-child {
  margin-top: 0;
}

#left-bar-bottom > a:first-child {
  display: block;
}
#left-bar-bottom > div:last-child div {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: gray;
  overflow: hidden;
  vertical-align: middle;
}
#left-bar-bottom > div:last-child h6 {
  margin: 0;
}

#contents {
  float: left;
  width: calc(100% - 50px);
  height: 100%;
  background-color: rgb(20 25 34);
  overflow-y: scroll;
}
#upgrade {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  height: 80px;
  padding: 25px;
  background-color: rgba(8,11,18,0.8);
  color: white;
  z-index: 1;
  visibility: hidden;
}
#nav {
  margin-top: 80px;
  min-height: 60px;
  padding: 15px;
}
#nav ul {
  min-height: 30px;
  line-height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
#nav ul li a {
  color: grey;
  text-decoration: none;
}
#nav ul li:hover a {
  color: white;
}
#nav ul li:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  border-bottom: 3px solid yellowgreen;
}
/* alle prime 4 col (escluso il titolo "recently played") della row "recently" dò un'altezza che è almeno più grande dell'altezza della colonna col maggior contenuto, altrimenti nella size md le ultime due col contenenti degli album non si sistemano sotto le prime due. in alternativa avrei potuto usare flex (come credo sia nell'esercizio originale osservandone il comportamento) ma non volevo usarlo ovunque e volevo esercitarmi un po' con bootstrap */
#recently [class^="col-"]:not(.col-xs-12):nth-last-of-type(n+3) {
  min-height: 350px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(40 40 40);
  color: white;
  z-index: 1;
}
footer [id^="footer-"] {
  height: 100%;
  min-width: 100px;
  padding: 10px;
}
#footer-left,
#footer-right {
  display: flex;
  align-items: center;
}
#footer-left img {
  width: 40px;
  height: auto;
}
#footer-left div:last-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#footer-left div:last-child i {
  margin: 0 5px;
}
#footer-left > *:not(div:last-child) > *,
#footer-center > * > *,
#footer-right > * {
  margin: 5px;
}
#footer-center {
  flex-grow: 2;
}
#play,
#time {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* nascondo il play per far funzionare quello in ".ms-pseudo" e lascio questo come segnaposto */
#play .fa-play-circle {
  visibility: hidden;
  transform: scale(2);
  margin: 5px 10px;
}
#player-bar-container {
  width: 50%;
}
#player-bar-content {
  width: 0%;
}
#volume-bar-container {
  width: 10vw;
}
#volume-bar-content {
  width: 40%;
}


/* /classi specifiche */

/* mediaquery */

/* per abitudine a ragionare in questo modo preferisco utilizzare sempre i min-width */
@media screen and (min-width: 300px) {

#upgrade {
  visibility: visible;
}

}

@media screen and (min-width: 600px) {

  .ms-hidden-600 {
    display: inline-block;
  }

  #left-bar {
    width: 200px;
  }
  #left-bar-top {
    height: 250px;
  }
  #left-bar-top #logo img {
    width: 40px;
  }  
  #left-bar-bottom a:first-child {
    border-bottom: 1px solid grey;
  }
    
  #contents,
  #upgrade {
    width: calc(100% - 200px);
  }

}

/* /mediaquery */